<table>
  <tr *ngFor="let i of getGameboardIteration()">
    <th *ngFor="let j of getGameboardIteration()">
      <app-field [id]="i.toString()+j.toString()" [gameController]="getController()" 
        [winChecker]="getWinChecker()" [ai]="getAI()"></app-field>
    </th>
  </tr>
</table>
<br />
<div class="scores">
  <span>
    <b>
      {{getPlayer(0).isComputer() ? "Komp" : "Gracz"}} ({{getPlayer(0).getSymbol().symbol()}}):
    </b> 
    {{getPlayer(0).getScore()}}
  </span>
  <span *ngIf="getActivePlayer() == getPlayer(0)"><b ><<</b></span>
  <span *ngIf="getActivePlayer() == getPlayer(1)"><b>>></b></span>
  <span>
    <b>
      {{getPlayer(1).isComputer() ? "Komp" : "Gracz"}} ({{getPlayer(1).getSymbol().symbol()}}):
    </b> 
    {{getPlayer(1).getScore()}}
  </span>
</div>
<div *ngIf="isNextRound()">
  <button mat-button (click)="startNextRound()">Następna runda</button>
</div>
