<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Witaj w {{ title }}!
  </h1>
</div>
<div *ngIf="!isGame()">
  <a mat-button (click)="playWithPlayer()">Gorące krzesło</a>
  <a mat-button (click)="playWithComputer()">Z komputerem</a>
</div>
<div *ngIf="isGame()">
  <app-game></app-game>
  <br />
  <a (click)="back()" mat-button>Wróć</a>
</div>
